<section class="sidebar">
    <nav>
       <ul>
          <li><a href="/">Back Home</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/api/list">Play API (all)</a></li>
          <li><a href="/api/play/hamlet">Play API (ID: hamlet)</a></li>
          <li><a href="/api/user/13">User API (ID: 13)</a></li>
       </ul>
    </nav>
</section>