.playFocused {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.playFocusedClosed {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftAlign {
  text-align: left;
}

.alignButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 94%;
}

.indent {
  padding-left: 30px;
}

.favorite {
  margin: 0;
}
/*
  margin: 0% 1% 0% 1%;


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header > button {
    grid-column: 3/4;
}

*/